.main-title {
    color:green;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #403f4c;
    padding: 10px;
  }
  .grid-container > div {
    background-color: #79c7c5;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .item5{
    grid-column: 1 / span 3;
  }
  #canvas{
    border: 1px solid red;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    background: white;
    padding: 5px;
}